@use '../utils/mixins';

.purchase {
    position: fixed;
    top: 0;
    right: -420px;
    width: 420px;
    max-width: 100%;
    z-index: 12;
    height: 100%;
    background-color: #fff;
    @include mixins.flex(flex, space-between, null, column, null);
    transition: right .3s;
}

.open {
    right: 0px;
}

.close {
    right: -420px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.7);
}

.show {
    display: block;
}

.by-scroll {
    height: 100%;
    overflow: hidden;
}

// .hidden {
//     display: none;
// }


.purchase__top {
    position: relative;
    @include mixins.flex(flex, center, center, null, null);
    padding: 20px;
    border-top: 1px solid #00000014;
    border-bottom: 1px solid #00000014;
}

.purchase__title h2 {
    color: #0b3954;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}

.purchase__close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.purchase__close svg {
    transition: all .4s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.purchase__title {
    display: flex;
    gap: 10px;
}

.purchase__body {
    @include mixins.flex(flex, center, center, column, null);
}

.purchase__body svg {
    width: 70px;
    height: auto;
}

.purchase__body h3 {
    color: #000;
    font-size: 16px;
}

.purchase__footer {
    padding: 20px;
    background-color: #00000008;
}

.purchase__subtotla {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00000014;
    font-size: 16px;
}

.purchase__subtotal-title {
    text-transform: capitalize;
}

.purchase__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.purchase__total-title {
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
}

.purchase__total-price {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

.purchase__total-checkout {
    display: block;
    height: 44px;
    color: #ffffff;
    @include mixins.flex(flex, center, center, null, null);
    background-color: #ffb128;
    font-size: 14px;
    font-family: "Sora", sans-serif;
    border-radius: 99px;
    font-weight: 600;
    transition: background-color .2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom: 5px;
}

.purchase__total-checkout:active {
    background-color: #225471;
}

.purchase__total-view a:active {
    text-decoration: underline;
    color: #000;
}


.purchase__total-view {
    text-align: center;
    font-size: 16px;
    color: #0000004D;
    line-height: 40px;
}

.purchase__close svg:active {
    transform: rotate(180deg);
    fill: #000;
}

.purchase__close svg:active path {
    fill: #00000040;
}

@media (any-hover: hover) {
    .purchase__total-checkout:hover {
        background-color: #225471;
    }

    .purchase__total-view a:hover {
        text-decoration: underline;
        color: #000;
    }

    .purchase__close svg:hover {
        transform: rotate(180deg);
        fill: #000;
    }

    .purchase__close svg:hover path {
        fill: #00000040;
    }
}