@use '../utils/mixins';

.footer {
    margin-bottom: 110px;


    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 40px;
    }

    &__contact {
        max-width: 235px;
    }

    &__contact-logo img {
        max-width: 182px;
        height: auto;
        margin-bottom: 40px;
    }

    &__contact-text {
        @include mixins.fontSet(400, 16px, 24px);
        color: #5C676D;
        padding-bottom: 40px;
    }

    &__contact-btn {
        font-family: "Sora", sans-serif;
        width: 167px;
        height: 44px;
        @include mixins.flex(flex, center, center, null, null);
        border-radius: 99px;
        background-color: #0B3954;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 14px;
        transition: background-color .2s ease-in-out;
        margin-bottom: 40px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        user-select: none;
    }

    &__contact-btn:active {
        background-color: #225471;
        color: #fff;
    }

    @media (hover: hover) {
        &__contact-btn:hover {
            background-color: #225471;
            color: #fff;
        }
    }

    &__payments {
        @include mixins.flex(flex, null, center, null, 1px);
    }

    &__items nav h4 {
        font-family: "Sora", sans-serif;
        @include mixins.fontSet(600, 12px, 18px);
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #2A2B39;
    }

    &__items nav ul li {
        @include mixins.fontSet(600, 12px, 18px);
        text-transform: uppercase;
        color: #0B3954;
    }

    &__items nav ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    &__items nav:not(:last-of-type) ul li:hover {
        color: #FFB128;
    }

    &__items nav:nth-of-type(1) ul .contact {
        margin-bottom: 50px;
    }

    &__items nav:nth-of-type(1) ul .delivery {
        margin-bottom: 20px;
    }

    &__items nav:nth-of-type(3) {
        font-family: "Sora", sans-serif
    }

    &__items nav:nth-of-type(3) ul .phone {
        @include mixins.fontSet(600, 16px, 16px);
        color: #FFB128;
    }

    @media (max-width: 724px) {
        &__items nav:nth-of-type(3) {
            width: 100%;
            text-align: center;
        }
    }

    @media (max-width: 386px) {
        &__contact {
            min-width: 100%;
        }

        &__contact-btn {
            width: 100%;
        }
    }
}