@use '../utils/mixins';

.newsletter {
    margin-bottom: 100px;

    &__top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin-bottom: 160px;
        column-gap: 60px;
        row-gap: 60px;
        justify-items: center;
    }

    &__top img {
        width: 150px;
        height: 30px;
    }

    &__bottom {
        display: flex;
        min-height: 161px;
    }

    &__bottom-sale {
        flex: 1 1 40%;
        position: relative;
        display: flex;
        align-items: center;
        // justify-content: center;
        background: #FFB128;
        border-radius: 32px 0px 0px 32px;
    }

    &__bottom-sale img {
        position: absolute;
        width: 95px;
        height: auto;
        right: -52px;
        bottom: 0;
    }

    &__bottom-form {
        flex: 1 1 60%;
        @include mixins.flex(flex, null, center, null, 20px);
        background: #0B3954;
        border-radius: 0px 32px 32px 0px;
        padding-left: 92px;
        padding-right: 20px;
    }

    &__bottom-sale p {
        font-family: "Sora", sans-serif;
        @include mixins.fontSet(600, 20px, 28px);
        color: #FFFFFF;
        max-width: 326px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__bottom-sale p span {
        color: #2A2B39;
        text-transform: uppercase;
    }

    &__bottom-form input {
        padding: 12px 11px;
        width: 449px;
        background-color: #174B69;
        border-radius: 6px;
        @include mixins.fontSet(null, 15px, 22px);
        color: #e8e8e8;

        max-width: 449px;
        width: 100%;
    }

    &__bottom-form input::placeholder {
        @include mixins.fontSet(400, 15px, 22px);
        color: #FFFFFF;
    }

    &__bottom-form button {
        font-family: "Sora", sans-serif;
        min-width: 131px;
        height: 44px;
        @include mixins.flex(flex, center, center, null, null);
        @include mixins.fontSet(600, 14px, null);
        color: #FFFFFF;
        text-transform: uppercase;
        border-radius: 80px;
        background-color: #FFB128;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }


    &__bottom-form button:active {
        background-color: #225471;
    }

    @media(hover: hover) {
        &__bottom-form button:hover {
            background-color: #225471;
        }
    }

    @media (max-width: 940px) {
        &__bottom-form {
            padding-left: 55px;
        }
    }

    @media (max-width: 768px) {
        &__bottom-sale img {
            display: none;
        }

        &__bottom {
            flex-direction: column;
        }

        &__bottom-sale {
            border-radius: 32px 32px 0px 0px;
            padding: 0 20px;
        }

        &__bottom-form {
            border-radius: 0px 0px 32px 32px;
            padding-left: 0;
        }

        &__bottom-sale p {
            padding: 0;
            max-width: 100%;
        }

        &__bottom-form {
            justify-content: center;
            padding-left: 20px;
            padding-right: 20px;
        }

        &__bottom-sale {
            flex: 1 0 107px;
        }

        &__bottom-form {
            flex: 1 0 132px;
        }
    }

    @media (max-width: 560px) {
        &__bottom-form {
            flex-direction: column;
        }

        &__bottom-form {
            flex: 1 0 170px;
        }
    }

    @media (max-width: 380px) {
        &__top {
            column-gap: 0px;
        }
    }
}