@use '../utils/mixins';

.products {
    font-family: "Sora", sans-serif;
    margin-bottom: 100px;



    &__top {
        @include mixins.flex(flex, space-between, center, null, 30px);
        margin-bottom: 100px;
        flex-wrap: wrap;
    }

    &__top-eyebrow {
        @include mixins.fontSet(600, 12px, 18px);
        color: #0B3954;
        padding-bottom: 20px;
    }

    &__top-item h2 span:nth-child(1) {
        @include mixins.fontSet(600, 48px, 55px);
        color: #FFB128;
        display: block;
        padding-bottom: 5px;
    }

    &__top-item h2 span:nth-child(2) {
        @include mixins.fontSet(700, 48px, 55px);
        color: #0B3954;
        display: block;
    }

    &__top &__top-item:nth-child(2) {
        display: flex;
        gap: 40px;
    }

    &__top-item .piece {
        @include mixins.flex(flex, null, null, column, null);
        position: relative;
        padding-left: 52px;
    }


    &__top-item .year {
        @include mixins.flex(flex, null, null, column, null);
        position: relative;
        padding-left: 52px;
    }

    &__top-item .piece::before,
    &__top-item .year::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        width: 22px;
        height: 7px;
        background-color: #FFB128;
    }

    &__top-item .piece span:nth-child(1),
    &__top-item .year span:nth-child(1) {
        @include mixins.fontSet(700, 24px, 32px);
        color: #0B3954;
    }

    &__top-item .piece span:nth-child(2),
    &__top-item .year span:nth-child(2) {
        @include mixins.fontSet(400, 16px, 24px);
        color: #5C676D;
    }



    &__bottom {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: clamp(0.938rem, 0.563rem + 1.875vw, 1.5rem); //gap: 24px;
    }

    &__bottom-item {
        @include mixins.flex(flex, center, center, column, 5px);
        background-color: #F9F9F9;
        border-radius: 32px;
        padding: clamp(1.563rem, 0.729rem + 4.167vw, 2.813rem) 0; //padding: 45px 0;
        cursor: pointer;
        transition: all .3s ease-in-out;

        // padding: 30px 40px;
    }

    &__bottom-item img {
        width: clamp(2.5rem, 0.714rem + 8.929vw, 5rem); //width: 80px;
        height: clamp(2.5rem, 0.714rem + 8.929vw, 5rem); //height: 80px;
        //      width: 80px;
        //   height: 80px;
    }


    &__bottom-item figcaption {
        font-style: normal;
        @include mixins.fontSet(600, clamp(1rem, 0.667rem + 1.667vw, 1.5rem), 28px);
        //font-size: 20px;
        cursor: pointer;
        user-select: none;
    }

    // @media (max-width: 768px) {
    //     & {
    //         margin-bottom: 160px;
    //     }
    // }

    @media (max-width: 596px) {
        &__top {
            margin-bottom: 60px;
        }
    }


    &__bottom &__bottom-item:active {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        background-color: #FFFFFF;
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);
    }

    @media (hover: hover) {
        &__bottom &__bottom-item:hover {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            background-color: #FFFFFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);
        }
    }


    @media (max-width: 343px) {
        &__bottom {
            grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
        }

    }
}