@use '../utils/mixins';

.spring {
    margin-bottom: 100px;


    &__inner {
        @include mixins.flex(flex, space-between, center, null, 40px);
        flex-wrap: wrap;
    }

    &__inner-ready {
        max-width: 366px;
    }

    &__inner &__img-cover img {
        max-width: 560px;
    }



    &__eyebrow {
        @include mixins.fontSet(600, 12px, 18px);
        color: #0B3954;
        display: inline-block;
        padding-bottom: 12px;
    }

    &__title {
        @include mixins.fontSet(700, 48px, 55px);
        color: #0B3954;
        padding-bottom: 30px;
    }

    &__text {
        @include mixins.fontSet(400, 16px, 24px);
        color: #5C676D;
        padding-bottom: 30px;
        max-width: 260px;
    }

    &__btn {
        @include mixins.fontSet(600, 14px, null);
        width: 192px;
        height: 44px;
        @include mixins.flex(flex, center, center, null, null);
        border-radius: 99px;
        background-color: #FFB128;
        color: #fff;
        transition: background-color .3s ease-in-out;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        user-select: none;
    }

    @media(hover: hover) {
        &__btn:hover {
            background-color: #225471
        }
    }

    &__btn:active {
        background-color: #225471
    }

    @media (max-width: 985px) {
        &__img-cover {
            width: 100%;
            text-align: center;
        }

        &__inner {
            gap: 0px;
        }
    }

    @media (max-width: 768px) {
        &__img-cover img {
            width: 460px;
        }

        // & {
        //     margin-bottom: 160px;
        // }
    }

    @media (max-width: 620px) {
        &__img-cover img {
            width: 360px;
        }
    }

    @media (max-width: 450px) {
        &__img-cover img {
            width: 300px;
        }
    }

    @media (max-width: 370px) {
        &__img-cover img {
            width: 250px;
        }
    }
}