html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

*::before,
*::after {
  display: inline-block;
}

header {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.header__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 10px 0px;
  gap: 60px;
}

.logo__wrapper img {
  width: 240px;
  height: auto;
  display: block;
}

.shopping {
  display: flex;
  align-items: center;
}

.shopping img {
  width: 20px;
  height: auto;
}

.header__search {
  position: relative;
  flex: 1 1 100%;
}

.display {
  display: block !important;
}

.cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7411764706);
  top: 0;
  left: 0;
  z-index: 6;
  overflow-y: hidden;
}

.header__search label {
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  left: 14px;
}

.header__search label img {
  width: 16.4px;
  height: auto;
}

.header__search input {
  padding: 10px 10px 10px 40px;
  background-color: #F5F5F5;
  border-radius: 6px;
  width: 100%;
  max-width: 620px;
}

.header__search input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0B3954;
}

.shopping .cart {
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

.shopping .cart span,
.shopping .like span {
  position: absolute;
  display: inline-block;
  text-align: center;
  background: #333333;
  padding: 2px 4px;
  color: #fff;
  border-radius: 18px;
  line-height: 1;
}

.shopping .cart span {
  top: -5px;
  right: -8px;
  font-size: 10px;
}

.shopping .like span {
  top: -5px;
  right: -9px;
  font-size: 10px;
}

.shopping .shopping__price {
  margin-right: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0B3954;
}

.shopping .like {
  margin-right: 13px;
  position: relative;
  cursor: pointer;
}

.shopping button {
  background-color: transparent;
  cursor: pointer;
}

.header__inner-bottom ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header__inner-bottom ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header__inner-bottom ul li > img {
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
}

.header__inner-bottom ul .list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.header__inner-bottom ul li.sales {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #ffb128;
  padding: 8px 63px;
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.header__inner-bottom ul li:not(:last-child) {
  width: 100%;
  cursor: pointer;
  position: relative;
}

.header__inner-bottom .list-item span,
.header__inner-bottom .list-item svg path {
  transition: all 0.2s ease;
}

.header__inner-bottom ul li:not(:last-child):hover .list-item span,
.header__inner-bottom ul li:not(:last-child):hover .list-item svg path {
  color: #FFB128;
  fill: #FFB128;
}

.header__inner-bottom ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #f5f5f5;
  right: -1px;
  top: 0;
}

.header__inner-bottom ul li:nth-last-child(2)::after {
  content: none;
}

.header__inner-bottom ul li.sales img {
  width: 22px;
  height: auto;
}

.header__inner-bottom ul li.sales span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.header__inner-bottom ul li.sales:hover {
  background-color: #0b3954;
}

.shopping .magazin {
  display: none;
}

.search-item {
  display: none;
}

@media (max-width: 1090px) {
  .header__inner-top {
    gap: 20px;
  }
}
@media (max-width: 970px) {
  .header__menu {
    position: relative;
    min-width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .header__menu::after,
  .header__menu::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0B3954;
    transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
  }
  .header__menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0B3954;
    transition: opacity 0.3s ease;
  }
  .header__menu::before {
    top: 0;
  }
  .header__menu::after {
    bottom: 0;
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(20deg);
    }
    40% {
      transform: rotate(-20deg);
    }
    60% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  body.active .header__menu {
    animation: shake 0.3s ease;
  }
  body.active .header__menu::before {
    transform: rotate(45deg);
    top: 9px;
  }
  body.active .header__menu::after {
    transform: rotate(-45deg);
    top: 9px;
  }
  body.active .header__menu span {
    scale: 0;
  }
  body header .header__inner-bottom {
    display: none;
  }
  body.active header .header__inner-bottom {
    display: block;
    position: fixed;
    top: 84px;
    right: 0%;
    height: 100vh;
    z-index: 4;
  }
  body.active,
  body.scroll-remove {
    overflow-y: hidden;
  }
  header .header__inner-bottom ul .sales {
    display: none;
  }
  header .header__inner-bottom ul li svg {
    display: none;
  }
  header .header__inner-bottom ul li::after {
    content: none !important;
  }
  header .header__inner-bottom ul {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 10px;
  }
  .header__inner-bottom ul li {
    flex-direction: row;
    justify-content: normal;
    gap: 15px;
  }
  .header__inner-bottom {
    padding: 10px 10px 10px 18px;
    background-color: #f6f7f9;
  }
  header .header__inner-bottom ul li span {
    font-size: 16px;
    color: #0B3954;
    user-select: none;
  }
}
@media (max-width: 768px) {
  .shopping .magazin {
    display: block;
  }
  .shopping__price {
    display: none;
  }
  .shopping {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 5;
  }
  .shopping img {
    width: 26px;
  }
  .shopping .cart,
  .shopping .like {
    margin: 0;
  }
  .shopping .like span {
    top: -6px;
    right: -9px;
    font-size: 11px;
  }
  .shopping .cart span {
    top: -3px;
    right: -8px;
    font-size: 11px;
  }
  .shopping bottom {
    order: 2;
  }
  .shopping .cart {
    order: 3;
  }
  .shopping .like {
    order: 4;
  }
}
@media (max-width: 650px) {
  .header__search #find {
    display: none;
  }
  .header__search label {
    display: none;
  }
  .header__search.active #find {
    display: block;
  }
  .header__search.active label {
    display: block;
  }
  .header__search.active {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 7;
  }
  .header__search.active input {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .search-item {
    display: block;
  }
  .search-item img {
    height: 20px;
  }
  .header__menu.active {
    margin-left: auto;
  }
  .header__inner-top {
    padding: 20px 0px 13px 0px;
  }
  body.active header .header__inner-bottom {
    top: 77px;
  }
}
@media (max-width: 400px) {
  .logo__wrapper img {
    width: 160px;
  }
  .header__menu {
    height: 16px;
    min-width: 24px;
  }
  .search-item img {
    height: 17px;
    margin-top: 3px;
  }
  body.active header .header__inner-bottom {
    top: 69px;
  }
}
.furniture {
  background-color: #0B3954;
  width: 90%;
  margin: 0 auto;
  max-height: 680px;
  border-radius: 32px;
  padding-top: 40px;
  font-family: "Sora", sans-serif;
  margin-bottom: clamp(4.375rem, -0.941rem + 11.076vw, 8.75rem);
}

.furniture__inner {
  position: relative;
  aspect-ratio: 1220/680;
  width: 100%;
}

.furniture__inner picture img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 32px;
}

.furniture__inner-cover {
  position: absolute;
  top: 48px;
  left: 48px;
  max-width: 390px;
}

.furniture__eyebrow {
  font-weight: 600;
  font-size: clamp(0.625rem, 0.536rem + 0.446vw, 0.75rem);
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

h1 {
  font-weight: 700;
  font-size: clamp(1.813rem, 0.25rem + 7.813vw, 4rem);
  line-height: clamp(2.188rem, 0.536rem + 8.259vw, 4.5rem);
  color: #fff;
  margin-bottom: 48px;
}

.furniture__collection {
  display: flex;
  align-items: center;
  gap: 28px;
}

.furniture__shop,
.furniture__catalog {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  transition: all 0.3s ease-in-out;
}

.furniture__shop {
  background-color: #FFB128;
  width: 152px;
  color: #FFFFFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.furniture__shop:active {
  background-color: #fff;
  color: #FFB128;
}

.furniture__catalog {
  background-color: #fff;
  width: 184px;
  color: #FFB128;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.furniture__catalog:active {
  background-color: #FFB128;
  color: #fff;
}

.furniture__inner .poit-item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 70px;
  height: 70px;
  border: 0.333333px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
  position: absolute;
}

.furniture__inner .poit-item > span {
  width: 47px;
  height: 47px;
  border: 0.333333px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.furniture__inner .poit-item > span > span {
  width: 24px;
  height: 24px;
  border: 0.333333px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFB128;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.furniture__inner .poit-item:active {
  scale: 0.8;
}

@media (hover: hover) {
  .furniture__catalog:hover {
    background-color: #FFB128;
    color: #fff;
  }
  .furniture__shop:hover {
    background-color: #fff;
    color: #FFB128;
  }
  .furniture__inner .poit-item:hover {
    scale: 0.9;
  }
}
.furniture__inner .point-one {
  position: absolute;
  top: 70.8%;
  left: 42%;
  color: #fff;
}

.furniture__inner .point-two {
  position: absolute;
  top: 42.8%;
  left: 68%;
  color: #fff;
}

.furniture__inner .point-three {
  position: absolute;
  top: 65.7%;
  left: 82.3%;
  color: #fff;
}

@media (max-width: 1000px) {
  .furniture .container {
    padding: 0px;
  }
  .furniture__inner {
    width: 104%;
    left: -2%;
  }
  .furniture__inner-cover {
    top: 20px;
    left: 53px;
  }
}
@media (max-width: 768px) {
  .furniture__inner picture img {
    height: unset;
  }
  .furniture .container {
    padding: 0px 10px;
  }
  .furniture__inner {
    width: 100%;
    left: 0%;
    aspect-ratio: 780/812;
  }
  .furniture {
    width: 100%;
    background-color: transparent;
    padding-top: 0;
    margin-bottom: clamp(4.375rem, -0.089rem + 22.321vw, 10.625rem);
  }
  .furniture__inner .point-one {
    top: 72.8%;
    left: 18%;
  }
  .furniture__inner .point-two {
    top: 49.8%;
    left: 56%;
  }
  .furniture__inner .point-three {
    top: 68.7%;
    left: 77.3%;
  }
  .furniture__inner-cover {
    left: clamp(1.5rem, 0.205rem + 6.473vw, 3.313rem);
  }
  .furniture__inner .poit-item {
    width: clamp(3.125rem, 2.232rem + 4.464vw, 4.375rem);
    height: clamp(3.125rem, 2.232rem + 4.464vw, 4.375rem);
  }
  .furniture__inner .poit-item > span {
    width: clamp(2.188rem, 1.652rem + 2.679vw, 2.938rem);
    height: clamp(2.188rem, 1.652rem + 2.679vw, 2.938rem);
  }
  .furniture__inner .poit-item > span > span {
    width: clamp(1.188rem, 0.964rem + 1.116vw, 1.5rem);
    height: clamp(1.188rem, 0.964rem + 1.116vw, 1.5rem);
  }
  .furniture__inner picture img {
    border-radius: clamp(1.375rem, 0.929rem + 2.232vw, 2rem);
  }
  .furniture__collection {
    gap: clamp(0.625rem, -0.179rem + 4.018vw, 1.75rem);
  }
  .furniture__shop,
  .furniture__catalog {
    font-size: clamp(0.625rem, 0.446rem + 0.893vw, 0.875rem);
    height: clamp(1.625rem, 0.866rem + 3.795vw, 2.688rem);
  }
  .furniture__shop {
    width: clamp(5.688rem, 2.964rem + 13.616vw, 9.5rem);
  }
  .furniture__catalog {
    width: clamp(7.125rem, 4rem + 15.625vw, 11.5rem);
  }
  h1 {
    margin-bottom: clamp(0.438rem, -1.393rem + 9.152vw, 3rem);
  }
}
.products {
  font-family: "Sora", sans-serif;
  margin-bottom: 100px;
}

.products__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
  gap: 30px;
}

.products__top-eyebrow {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #0B3954;
  padding-bottom: 20px;
}

.products__top-item h2 span:nth-child(1) {
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  color: #FFB128;
  display: block;
  padding-bottom: 5px;
}

.products__top-item h2 span:nth-child(2) {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  color: #0B3954;
  display: block;
}

.products__top .products__top-item:nth-child(2) {
  display: flex;
  gap: 40px;
}

.products__top-item .piece {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 52px;
}

.products__top-item .year {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 52px;
}

.products__top-item .piece::before,
.products__top-item .year::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  width: 22px;
  height: 7px;
  background-color: #FFB128;
}

.products__top-item .piece span:nth-child(1),
.products__top-item .year span:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #0B3954;
}

.products__top-item .piece span:nth-child(2),
.products__top-item .year span:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5C676D;
}

.products__bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
}

.products__bottom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  border-radius: 32px;
  padding: 45px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.products__bottom-item img {
  width: 80px;
  height: 80px;
}

.products__bottom-item figcaption {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 596px) {
  .products__top {
    margin-bottom: 60px;
  }
}
.products__bottom .products__bottom-item:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #FFFFFF;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);
}

@media (hover: hover) {
  .products__bottom .products__bottom-item:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #FFFFFF;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);
  }
}
.slider {
  padding: 0 10px;
  margin-bottom: 100px;
}

.slider__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.slider__item {
  position: relative;
}

.slider__items img {
  max-width: 600px;
  border-radius: clamp(0.938rem, 0.507rem + 2.152vw, 2rem);
  width: 100%;
  object-fit: cover;
}

.slider__item-text > span {
  font-weight: 400;
  font-size: clamp(0.688rem, 0.535rem + 0.465vw, 1rem);
  line-height: 24px;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: clamp(0.938rem, 0.785rem + 0.465vw, 1.25rem);
}

.slider__text-footer h3 {
  font-weight: 700;
  font-size: clamp(1.188rem, 0.302rem + 2.698vw, 3rem);
  line-height: clamp(0rem, -1.679rem + 5.116vw, 3.438rem);
  color: #FFFFFF;
}

.slider__item-text {
  position: absolute;
  bottom: clamp(2.438rem, 0.576rem + 5.674vw, 6.25rem);
  left: 20px;
}

.slider__text-footer {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.slider__text-footer span {
  position: absolute;
  left: 0px;
  bottom: -22px;
  width: 22px;
  height: clamp(0.25rem, 0.158rem + 0.279vw, 0.438rem);
  background-color: #FFB128;
  border-radius: 4px;
}

.slider__text-footer:active {
  transform: translateY(-10px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (hover: hover) {
  .slider__text-footer:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateY(-10px);
  }
}
.spring {
  margin-bottom: 100px;
}

.spring__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.spring__inner-ready {
  max-width: 366px;
}

.spring__inner .spring__img-cover img {
  max-width: 560px;
}

.spring__eyebrow {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #0B3954;
  display: inline-block;
  padding-bottom: 12px;
}

.spring__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  color: #0B3954;
  padding-bottom: 30px;
}

.spring__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5C676D;
  padding-bottom: 30px;
  max-width: 260px;
}

.spring__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  width: 192px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background-color: #FFB128;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (hover: hover) {
  .spring__btn:hover {
    background-color: #225471;
  }
}
.spring__btn:active {
  background-color: #225471;
}

@media (max-width: 985px) {
  .spring__img-cover {
    width: 100%;
    text-align: center;
  }
  .spring__inner {
    gap: 0px;
  }
}
@media (max-width: 768px) {
  .spring__img-cover img {
    width: 460px;
  }
}
@media (max-width: 620px) {
  .spring__img-cover img {
    width: 360px;
  }
}
@media (max-width: 450px) {
  .spring__img-cover img {
    width: 300px;
  }
}
@media (max-width: 370px) {
  .spring__img-cover img {
    width: 250px;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  min-height: 100dvh;
  position: relative;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

/*# sourceMappingURL=main.css.map */