@use '../scss/utils/mixins';

@use './reset';

@use './header/header';
@use './cart/cart';
@use './login-form/login';
@use './sec-1-furniture/sec-1-furniture';
@use './sec-2-products/sec-2-products';
@use './sec-3-slider/sec-3-slider';
@use './sec-4-spring/sec-4-spring';
@use './sec-5-gallary/sec-5-gallary';
@use './sec-6-trends/sec-6-trends';
@use './sec-7-business/sec-7-business';
@use './sec-8-newsletter/sec-8-newsletter';
@use './footer/footer';




body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    min-height: 100dvh;
    scrollbar-gutter: stable;
    // position: relative;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
}



////////right sidebar icons/////////
.control__panel {
    display: none;
}

.control__panel-inner {
    @include mixins.flex(flex, null, null, column, 5px);
    position: fixed;
    right: 0%;
    top: 60%;
}

@media(min-width: 940px) {
    .control__panel {
        display: block;
    }
}


.control__panel-inner a {
    width: 55px;
    height: 55px;
    border-radius: 3px;
    @include mixins.flex(flex, center, center, column, 2px);
    opacity: .6;
    transition: opacity .2s ease-in-out;
}

@media (hover :hover) {
    .control__panel-inner a:hover {
        opacity: 1;
    }
}

.control__panel-inner a:active {
    opacity: 1;
}


@keyframes demoflash {

    0%,
    100%,
    50% {
        opacity: 1
    }

    25%,
    75% {
        opacity: .2
    }
}

.control__panel-inner a:nth-child(1) span {
    animation: demoflash 4s ease infinite;
}

.control__panel-inner a:nth-child(1) {
    background-color: #06070c;
}

.control__panel-inner a:nth-child(1) span:nth-child(1) {
    @include mixins.fontSet(500, 15px, 100%);
    color: #fff;
}


.control__panel-inner a:nth-child(1) span:nth-child(2) {
    @include mixins.fontSet(null, 10px, 100%);
    color: #f3f5f2;
}



.control__panel-inner a:nth-child(2) {
    @include mixins.bcolor(#80b541, #f3f5f2);
    font-size: 11px;
}

.control__panel-inner a:nth-child(2) img {
    width: 22px;
    height: auto;
}

.light {
    // visibility: visible !important;
    opacity: .9 !important;
}


.show {
    display: block !important;
}

.by-scroll {
    height: 100%;
    overflow: hidden;
}

body.active,
body.lock {
    height: 100%;
    overflow: hidden;
}

.display {
    display: block !important;
}

.open {
    right: 0px;
}

.close {
    right: -420px;
}