header {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}


.header__inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 10px 0px;
    gap: 60px;
}


.logo__wrapper img {
    width: 240px;
    height: auto;
    display: block;
}

.shopping {
    display: flex;
    align-items: center;
}

.shopping img {
    width: 20px;
    height: auto;
}

.header__search {
    position: relative;
    flex: 1 1 100%;
}

.display {
    display: block !important;
}

.cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000bd;
    top: 0;
    left: 0;
    z-index: 6;
    overflow-y: hidden;
}

.header__search label {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    left: 14px;
}

.header__search label img {
    width: 16.4px;
    height: auto;
}

.header__search input {
    padding: 10px 10px 10px 40px;
    background-color: #F5F5F5;
    border-radius: 6px;
    width: 100%;
    max-width: 620px;
}

.header__search input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #0B3954;
}

.shopping .cart {
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}

.shopping .cart span,
.shopping .like span {
    position: absolute;
    display: inline-block;
    text-align: center;
    background: #333333;
    padding: 2px 4px;
    color: #fff;
    border-radius: 18px;
    line-height: 1;
}


.shopping .cart span {
    top: -5px;
    right: -8px;
    font-size: 10px;
}


.shopping .like span {
    top: -5px;
    right: -9px;
    font-size: 10px;
}

.shopping .shopping__price {
    margin-right: 11px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0B3954;
}

.shopping .like {
    margin-right: 13px;
    position: relative;
    cursor: pointer;
}



.shopping button {
    background-color: transparent;
    cursor: pointer;
}

.header__inner-bottom ul {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    text-align: center;
}



.header__inner-bottom ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.header__inner-bottom ul li>img {
    margin-bottom: 10px;
    width: 32px;
    height: 32px;
}

.header__inner-bottom ul .list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.header__inner-bottom ul li.sales {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffb128;
    padding: 8px 63px;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.header__inner-bottom ul li:not(:last-child) {
    width: 100%;
    cursor: pointer;
    position: relative;
}


.header__inner-bottom .list-item span,
.header__inner-bottom .list-item svg path {
    transition: all 0.2s ease;
}

.header__inner-bottom ul li:not(:last-child):hover .list-item span,
.header__inner-bottom ul li:not(:last-child):hover .list-item svg path {
    color: #FFB128;
    fill: #FFB128;
}

.header__inner-bottom ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #f5f5f5;
    right: -1px;
    top: 0;
}

.header__inner-bottom ul li:nth-last-child(2)::after {
    content: none;
}

.header__inner-bottom ul li.sales img {
    width: 22px;
    height: auto;
}

.header__inner-bottom ul li.sales span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header__inner-bottom ul li.sales:hover {
    background-color: #0b3954;
}

.shopping .magazin {
    display: none;
}

.search-item {
    display: none;
}






@media (max-width: 1090px) {
    .header__inner-top {
        gap: 20px;
    }
}


@media (max-width: 970px) {
    .header__menu {
        position: relative;
        min-width: 30px;
        height: 20px;
        cursor: pointer;

    }

    .header__menu::after,
    .header__menu::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #0B3954;
        transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
    }

    .header__menu span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #0B3954;
        transition: opacity 0.3s ease;
    }

    .header__menu::before {
        top: 0;
    }

    .header__menu::after {
        bottom: 0;
    }

    @keyframes shake {
        0% {
            transform: rotate(0deg);
        }

        20% {
            transform: rotate(20deg);
        }

        40% {
            transform: rotate(-20deg);
        }

        60% {
            transform: rotate(10deg);
        }

        80% {
            transform: rotate(-10deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    body.active .header__menu {
        animation: shake 0.3s ease;
    }



    body.active .header__menu::before {
        transform: rotate(45deg);
        top: 9px;
    }

    body.active .header__menu::after {
        transform: rotate(-45deg);
        top: 9px;
    }

    body.active .header__menu span {
        scale: 0;
    }

    body header .header__inner-bottom {
        display: none;
    }

    body.active header .header__inner-bottom {
        display: block;
        position: absolute;
        top: 84px;
        right: 0%;
        // font-size: 18px;
        height: calc(100vh - 84px);
        z-index: 4;
        overflow-y: auto;
    }

    body.active,
    body.scroll-remove {
        overflow-y: hidden;
    }

    .scroll {
        height: 100%;
        overflow-y: scroll;
    }




    // body.active main,
    // body.active footer {
    //     position: relative;
    // }


    // body.active main::after,
    // body.active footer::after {
    //     content: '';
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     width: 100%;
    //     height: 100%;
    //     background-color: #0000003a;
    //     z-index: -1;
    // }



    header .header__inner-bottom ul .sales {
        display: none;
    }

    header .header__inner-bottom ul li svg {
        display: none;
    }

    header .header__inner-bottom ul li::after {
        content: none !important;
    }

    header .header__inner-bottom ul {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        gap: 10px;
    }

    .header__inner-bottom ul li {
        flex-direction: row;
        justify-content: normal;
        gap: 15px;
    }

    .header__inner-bottom {
        padding: 10px 10px 10px 18px;
        background-color: #f6f7f9;
        // border-radius: 10px;
    }

    header .header__inner-bottom ul li span {
        font-size: 16px;
        color: #0B3954;
        user-select: none;
    }



}

@media (max-width: 768px) {
    .shopping .magazin {
        display: block;
    }

    .shopping__price {
        display: none;
    }

    .shopping {
        position: fixed;
        bottom: -1px;
        left: 0px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        min-height: 60px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        z-index: 5;
    }

    .shopping img {
        width: 26px;
    }

    .shopping .cart,
    .shopping .like {
        margin: 0;
    }


    .shopping .like span {
        top: -6px;
        right: -9px;
        font-size: 11px;
    }


    .shopping .cart span {
        top: -3px;
        right: -8px;
        font-size: 11px;
        ;
    }


    // .shopping .magazin {
    //     order: 1;
    // }

    .shopping bottom {
        order: 2;
    }

    .shopping .cart {
        order: 3;
    }

    .shopping .like {
        order: 4;
    }


    body.active header .header__inner-bottom {
        height: calc(100vh - 142px);
    }

}

@media (max-width: 650px) {
    .header__search #find {
        display: none;
    }

    .header__search label {
        display: none;
    }

    .header__search.active #find {
        display: block;
    }

    .header__search.active label {
        display: block;
    }

    .header__search.active {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 7;
    }

    //  .header__search.active::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: #000;
    //  }

    .header__search.active input {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .search-item {
        display: block;
    }

    .search-item img {
        height: 20px;
    }

    .header__menu.active {
        margin-left: auto;
    }

    .header__inner-top {
        padding: 20px 0px 13px 0px;
    }

    body.active header .header__inner-bottom {
        top: 77px;
        height: calc(100vh - 135px);
    }



}

@media (max-width: 400px) {
    .logo__wrapper img {
        width: 160px;
    }

    .header__menu {
        height: 16px;
        min-width: 24px;
    }

    .search-item img {
        height: 17px;
        margin-top: 3px;
    }

    body.active header .header__inner-bottom {
        top: 62px;
         height: calc(100vh - 123px);
    }
}

// .header__inner-bottom::after {
//     content: '';
//     position: absolute;
//     top: 84px;
//     left: 0;
//     width: 100%;
//     height: 1px;
//     background-color: #f5f5f5;
//     opacity: 0;
//     transition: all .1s ease-in-out;
// }

// .header__inner-bottom:hover::after {
//   opacity: 1;
// }